{% extends 'main.html' %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                  <div class="row">
                    <div class="col-9">
                      <h6>Data Pengeluaran Stok</h6>
                    </div> 
                   {% if editable %}
                    <div class="col-3">
                      <!-- Button trigger modal -->
                        <a href="{% url 'edit-penggunaan-stok' stokKeluar.id %}" class="btn btn-sm btn-success">
                          Edit
                        </a>
                        <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteStokKeluarModal{{ stokKeluar.id }}">
                          Hapus
                        </button>
                    {% include 'atk/adminunit/stok/hapuskeluarmodal.html' %}
                  </div>
                   {% endif %}
                   
                  </div>
                </div>
                <div class="card-body px-5 pt-0 pb-2">
                  <div class="row">     
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="form-control-label">Alat Tulis Kantor</label>
                        <div class="form-control">{{ stokKeluar.atk }}</div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                          <label class="form-control-label">Tanggal</label>
                          <div class="form-control">
                            {{ stokKeluar.tanggal }}
                          </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                          <label class="form-control-label">Jumlah Pengeluaran</label>
                          <div class="form-control">{{ stokKeluar.jumlah }} {{ stokKeluar.atk.atk.satuan }}</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label">Penerima</label>
                            <div class="form-control">{{ stokKeluar.penerima }} </div>
                          </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                          <label class="form-control-label">Kegunaan</label>
                          <div class="form-control">{{ stokKeluar.kegunaan }} </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                          <label class="form-control-label">Keterangan</label>
                          <div class="form-control">{{ stokKeluar.keterangan }} </div>
                        </div>
                    </div>
                  </div>
              </div>
        </div>
    </div>
</div>

{% endblock content %}

