{% extends 'main.html' %}
{% load custom_tags %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                  <div class="row">
                    <div class="col-9">
                      <!-- Button trigger modal -->
                      <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#addStokKeluarModal">
                        Catat Stok Keluar
                      </button>
                      <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#addStokMasukModal">
                        Catat Stok Masuk
                      </button>
                    </div>
                    <div class="col-3">
                      <button type="button" class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#kegunaanModal">
                        List Kegunaan
                      </button>
                    </div>
                  </div>
                    {% comment %} {% include 'atk/adminunit/pengajuan/addisimodal.html' %} {% endcomment %}
                </div>
                {% include 'atk/adminunit/stok/addstokmasukmodal.html' %}
                {% include 'atk/adminunit/stok/addstokkeluarmodal.html' %}
                {% include 'atk/adminunit/stok/kegunaanmodal.html' %}


                <div class="card-body px-5 pt-0 pb-2">
                  <form id="filters" action="{% url 'stok' %}" method="GET">
                    <div class="form-group row">
                      <div class="col-sm-5">
                        <label class="form-label" for="start">Tanggal awal:</label>
                        <input class="form-control" type="date" name="start" required>
                      </div>
                      <div class="col-sm-5">
                        <label class="form-label" for="end">Tanggal akhir:</label>
                        <input class="form-control" type="date" name="end" required>
                      </div>
                      <div class="col-sm-1">
                        <label class="form-label"></label>
                        <input class="btn btn-sm btn-primary" type="submit" value="Submit">
                      </div>
                      <div class="col-sm-1">
                        <label class="form-label"></label>
                        <a href="{% url 'stok' %}" class="btn btn-sm btn-secondary">Reset</a>
                      </div>
                    </div>
                    </form>
                  <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0" id ="tabelstok">
                      <thead class="text-center">
                        <tr>
                          <th>No</th>
                          <th>Alat Tulis</th>
                          <th>Stok Awal</th>
                          <th>Stok Masuk</th>
                          <th>Stok Keluar</th>
                          <th>Sisa Stok</th>
                          <th>Satuan</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for s in stok %}
                            <tr class="text-center">
                              <td>
                                  <h6 class="mb-0 text-sm">{{  forloop.counter }}</h6>
                              </td>
                              <td>
                                    <h6 class="mb-0 text-sm">{{ s.atk }}</h6>
                              </td>
                              <td>
                                <h6 class="mb-0 text-sm">{{ atkAwal|get_item:s.atk_id|default_if_none:0 }}</h6>
                              </td>
                              <td>
                                <h6 class="mb-0 text-sm">{{ atkMasuk|get_item:s.atk_id|default_if_none:0 }}</h6>
                              </td>
                              <td>
                                <h6 class="mb-0 text-sm">{{ atkKeluar|get_item:s.atk_id|default_if_none:0 }}</h6>
                              </td>
                              <td>
                                <h6 class="mb-0 text-sm">{{ atkAkhir|get_item:s.atk_id|default_if_none:0 }}</h6>
                              </td>
                              <td>
                                <h6 class="mb-0 text-sm">{{ s.atk.satuan }}</h6>
                              </td>
                            </tr>
                            {% comment %} {% include 'atk/adminunit/pengajuan/editdeleteisimodal.html' %} {% endcomment %}
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-4">
        <div class="card h-100 mb-4">
          <div class="card-header pb-0 px-3">
            <div class="row">
              <div class="col-md-6">
                <h6 class="mb-0">Stok Keluar</h6>
              </div>
              <div class="col-md-6 d-flex justify-content-end align-items-center">
                <button class="btn btn-sm btn-outline-info" data-bs-toggle="modal" data-bs-target="#listStokKeluarModal">Lihat Semua</button>
              </div>
              {% include 'atk/adminunit/stok/liststokkeluarmodal.html' %}
            </div>
          </div>
          <div class="card-body pt-4 p-3">
            <h6 class="text-uppercase text-body text-xs font-weight-bolder mb-3">Terbaru</h6>
            <ul class="list-group">
            {% for stokKeluar in stokKeluar %}
            <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
              <div class="d-flex align-items-center">
                <button class="btn btn-icon-only btn-rounded btn-outline-danger mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-arrow-down"></i></button>
                <div class="d-flex flex-column">
                  <h6 class="mb-1 text-dark text-sm">{{ stokKeluar.atk }} sejumlah {{ stokKeluar.jumlah }} {{ stokKeluar.atk.atk.satuan  }}</h6>
                  <span class="text-xs">Pada {{ stokKeluar.tanggal }} untuk {{ stokKeluar.kegunaan }}</span>
                </div>
              </div>
              <div class="d-flex align-items-center">
                <a class="btn btn-sm btn-primary" href="{% url 'detail-stok-keluar' stokKeluar.id %}">Detail</a>
              </div>
            </li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-4">
        <div class="card h-100 mb-4">
          <div class="card-header pb-0 px-3">
            <div class="row">
              <div class="col-md-6">
                <h6 class="mb-0">Stok Masuk</h6>
              </div>
              <div class="col-md-6 d-flex justify-content-end align-items-center">
                <button class="btn btn-sm btn-outline-info" data-bs-toggle="modal" data-bs-target="#listStokMasukModal">Lihat Semua</button>
              </div>
              {% include 'atk/adminunit/stok/liststokmasukmodal.html' %}
            </div>
          </div>
          <div class="card-body pt-4 p-3">
            <h6 class="text-uppercase text-body text-xs font-weight-bolder mb-3">Terbaru</h6>
            <ul class="list-group">
            {% for stokMasuk in stokMasuk %}
            <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
              <div class="d-flex align-items-center">
                <button class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-arrow-up"></i></button>
                <div class="d-flex flex-column">
                  <h6 class="mb-1 text-dark text-sm">{{ stokMasuk.atk }} sejumlah {{ stokMasuk.jumlah }} {{ stokMasuk.atk.satuan  }}</h6>
                  <span class="text-xs">Pada {{ stokMasuk.tanggal }}</span>
                </div>
              </div>
              <div class="d-flex align-items-center">
                <a class="btn btn-sm btn-primary" href="{% url 'detail-stok-masuk' stokMasuk.id %}">Detail</a>
              </div>
            </li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock content %}