{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="container-fluid py-4">
    <div class="row">
      <div class="col-lg-8">
        <div class="row">
          <div class="col-md-12 mb-lg-0 mb-4">
            <div class="card mt-4">
              <div class="card-header pb-0 p-3">
                <div class="row">
                  <div class="col-6 d-flex align-items-center">
                    <h6 class="mb-0">Jadwal Pengajuan</h6>
                  </div>
                  <div class="col-6 text-end">
                    {% if jadwal is not None and pengajuan is None %}
                        <a class="btn bg-gradient-dark mb-0" href="{% url 'add-pengajuan' %}"><i class="fas fa-plus"></i>&nbsp;&nbsp;Buat Pengajuan</a>
                    {% elif pengajuan is not None and pengajuan.progress == 'D' %}
                        <a class="btn bg-gradient-dark mb-0" href="{% url 'add-pengajuan' %}"><i class="fas fa-plus"></i>&nbsp;&nbsp;Lanjutkan Perancangan Pengajuan</a>
                      {% elif pengajuan is not None and pengajuan.progress == 'P' %}
                        <a class="btn bg-gradient-dark mb-0" href="{% url 'add-pengajuan' %}"><i class="fas fa-plus"></i>&nbsp;&nbsp;Lakukan Revisi</a>
                    {% endif %}
                </div>
                </div>
              </div>
              <div class="card-body p-3">
                <div class="row">
                 {% if jadwal == None %}
                    <div class="col-md-12">
                        <div class="card card-body border card-plain border-radius-lg d-flex align-items-center flex-row">
                            <h6 class="mb-0">Belum ada jadwal yang diatur untuk pengajuan periode tahun ini.</h6>
                        </div>
                    </div>
                 {% else %}
                    <div class="col-md-6 mb-md-0 mb-4">
                        <div class="card card-body border card-plain border-radius-lg d-flex align-items-center flex-row">
                        <h6 class="mb-0">Dibuka : </h6>
                        <h6 class="mb-0"> {{jadwal.pengajuan_mulai }}</h6>
                        {% comment %} <i class="fas fa-pencil-alt ms-auto text-dark cursor-pointer" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Card"></i> {% endcomment %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-body border card-plain border-radius-lg d-flex align-items-center flex-row">
                        <h6 class="mb-0">Ditutup : </h6>
                        <h6 class="mb-0">{{ jadwal.pengajuan_selesai }}</h6>
                        {% comment %} <i class="fas fa-pencil-alt ms-auto text-dark cursor-pointer" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Card"></i> {% endcomment %}
                        </div>
                    </div>
                 {% endif %}
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card h-100">
          <div class="card-header pb-0 p-3">
            <div class="row">
              <div class="col-6 d-flex align-items-center">
                <h6 class="mb-0">Status Pengajuan</h6>
              </div>
              <div class="col-6 text-end">
                {% if pengajuan is not None %}
                  <a href="{% url 'detail-pengajuan' pengajuan.id %} " class="btn btn-outline-primary btn-sm mb-0">Lihat Detail</a>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="card-body p-3 pb-0">
            <ul class="list-group">
              <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                <div class="d-flex flex-column">
                  <h6 class="mb-1 text-dark font-weight-bold text-sm">
                    {% if pengajuan is None %}
                      Pengajuan Belum Dibuat Pada Tahun Ini
                    {% elif pengajuan.progress == 'D' %}
                      Pengajuan Dalam Perancangan
                    {% elif pengajuan.progress == 'P' %}
                      Pengajuan Dalam Perbaikan
                    {% elif pengajuan.progress == 'K' %}
                     Pengajuan Menunggu Konfirmasi Pimpinan Unit
                    {% elif pengajuan.progress == 'A' %}
                      Pengajuan Telah Diajukan
                    {% endif %}
                  </h6>
                  <span class="text-xs">
                    {% if jadwal is None %}
                    Jadwal pengajuan belum dibuat pada tahun ini
                    {% elif pengajuan is None %}
                    Segera buat rancangan pengajuan dan kirim sebelum {{ jadwal.pengajuan_selesai }}
                    {% else %}
                    Dibuat: {{ pengajuan.created }}
                    {% endif %}
                  </span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div> 
    </div> 
    <div class="row">
      <div class="col-md-12 mt-4">
        <div class="card">
          <div class="card-header pb-0 px-3">
            <h6 class="mb-0">Riwayat Pengajuan</h6>
          </div>
          <div class="card-body pt-4 p-3">
            <ul class="list-group">
            {% for riwayat in riwayat %}
            <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
              <div class="d-flex flex-column">
                <h6 class="mb-3 text-sm">Periode: {{ riwayat.jadwal.tahun }} </h6>
                <span class="mb-2 text-xs">Nomor Surat: <span class="text-dark font-weight-bold ms-sm-2">{{ riwayat.no_surat }}</span></span>
                <span class="mb-2 text-xs">Tanggal Dibuat: <span class="text-dark ms-sm-2 font-weight-bold">{{ riwayat.created }}</span></span>
                <span class="text-xs">Tanggal Diajukan: <span class="text-dark ms-sm-2 font-weight-bold">{{ riwayat.tanggal_konfirmasi }} </span></span>
              </div>
              <div class="ms-auto text-end">
                <a class="btn btn-link text-dark px-3 mb-0" href="{% url 'detail-pengajuan' riwayat.id %}"><i class="fas fa-eye"></i> Detail</a>
              </div>
            </li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
 
</div>

{% endblock content %}