{% extends 'main.html' %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0 pt-3 bg-transparent">
              <h6 class="text-capitalize">Exponential Smoothing</h6>
            </div>
            <div class="card-body p-3">
              <div class="chart">
                {{ chart|safe }}
              </div>
              <div>
               MAPE: {{ mape }} <br>
               {% comment %} SMAPE: {{ smape }} {% endcomment %}
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock content %}