<!-- Modal -->
<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="deletModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="logoutModalLabel">Keluar Aplikasi</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
           <p class="text-danger"> Apakah Anda yakin untuk keluar?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
          <a href="{% url 'logout' %}" class="btn btn-danger" >Ya</a>
        </div>
      </div>
    </div>
  </div>